<h1>Master Facility Registry</h1>

<%= markdown("## Titulo
  Bajada
  ") %>

<div class="img-center">
  <%= image_tag "desktop_mobile.png" %>
</div>

<%= markdown("## Titulo
  Bajada
  ") %>

<%= link_to "Search", map_path, class: "btn btn-large" %>

<hr class="divider">

<%= markdown("## Titulo
  - List
  - List
  ") %>

<div class="row editable-columns">
  <div class="column col s12 m6">
    <%= markdown("## Titulo
    Bajada
    ") %>
  </div>
  <div class="column col s12 m6">
    <%= markdown("## Titulo
    Bajada
    ") %>
  </div>
</div>
