<!DOCTYPE html>
<html>
  <head>
    <title>Facility Public Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= render 'shared/favicomatic' %>
    <%= render 'shared/colors' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      I18n = {};
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_include_tag "application", media: 'all' %>
    <%= stylesheet_link_tag "application", media: 'all' %>
  </head>

  <body class="<%= params[:controller].gsub('/', '_') %> <%= params[:action] %>">
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
